//
//  Debug.xcconfig
//  Reusable
//
//  Created by Christian Seiler on 20/11/2019.
//  Copyright © 2019 Christian Seiler Services. All rights reserved.
//

//// Common Configuration
#include "config/tvOS/xcconfig/Common.xcconfig"

/// App target bundle identifier
AS_BUNDLE_IDENTIFIER = ch.christianseiler.reusable.debug.tvos
/// App Name
AS_APP_NAME = Reusable Debug
/// ProjectEnvironment
AS_APP_ENVIRONMENT = Debug
/// App Icon
AS_APP_ICON = AppIcon
